/******************************************************************
Reset
******************************************************************/
*{
margin:0;
padding:0;
box-sizing: border-box;
}

img, svg {
display:block;
max-width:100%;   
}

a{
text-decoration:none;  
color:#000;
}

li{
list-style: none;   
}

button,
input,
select,
textarea {
outline:none;
border:none;
background:transparent; 
-webkit-appearance: none; 
-moz-appearance: none; 
-ms-appearance: none; 
-o-appearance: none; 
appearance: none;  
}




/********************************************************************
Body
*******************************************************************/

body{
/*background:#070707; 
color:#fff; */ 
position: relative; 
}

/********************************************************************
Post.
*******************************************************************/

/* Article */
.post-article{
position: relative; 
width:50%;
}


/*Post filter */
.filter-container{
display: flex;
justify-content: space-between;
align-items: center;
width:25%; 
}
 
.filter-container button{
position: relative;  
}


/*Post header */
.post-header{
display: flex;
justify-content: space-between;
align-items: center;
}


.post-title{
position: relative; 
}

.post-externalurl{
position: relative; 
}

.post-date{
position: relative;
display:none;
}

.post-avatar{
position: relative;
display:none;
}

.post-excerpt{
position: relative;
display:none;
}

    
.post-image{
position: relative;
}




.filter-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /*transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;*/
  }
  
  




/* More posts wrap */
.more-posts-wrap{
position:relative;   
}

/* Header */
.more-posts-header{
position:relative;
display:none;
}

/* Content */
.more-posts-content{
position:relative; 
background: #070707; 
padding: 30px;
border-radius: 20px;;   
}


