
/********************************************************************
 Body
 *******************************************************************/

 body{
    /*background:#070707; 
    color:#fff; */ 
    }
   
   /********************************************************************
    Post.
    *******************************************************************/
   
    /* Wrap */
    .more-posts-wrap{
    position:relative;   
    }
   
    /* Header */
    .more-posts-header{
   position:relative;
   display:none;
    }
   
    /* Content */
   .more-posts-content{
   position:relative; 
   background: #070707; 
   padding: 30px;
   border-radius: 20px;;   
   }

   .post-externalurl{
   position: relative; 
   }

   .post-title{
    position: relative; 
   }

   .post-date{
    position: relative;
   }

   .post-avatar{
    position: relative;
   }

   .post-image{
    position: relative;
   }